:root {
  --primary: #00c2bd;
  --primary-60: #00c2bca6;
  --primary-shade-one: #00827E;
  --primary-shade-two: #004240;
  --complementary-one: #0A67C2;
  --complementary-two: #C21E13;
  --complementary-three: #C28013;
  --complementary-four: #0AC253;
  --secondary: #000;
  --white: #fff;
  --lightGrey: whitesmoke;
  --midGrey: #cacaca;
  --darkGrey: #272727;
  --danger: #ff3d3d;;
  --font-primary: 'Open Sans', sans-serif;
  --font-system: system-ui; /* postcssPresetEnv */
  --borderRadius: 3px;
	/* Spacing */
	--global--spacing-unit: 10px;
	--global--spacing-measure: unset;
	--global--spacing-horizontal: 25px;
	--global--spacing-vertical: 15px;

}

::-webkit-scrollbar {
  width: 0.4rem;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px var(--midGrey);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
}

::selection {
  background: rgba(0, 194, 189, 0.6);
}

* {
  margin: 0;
  padding: 0;
} 

html {
  box-sizing: border-box;
  font-size: 62.5%;
  min-height: 100%;
  background: var(--lightGrey);
}

body {
  font-family: var(--font-system);
  min-height: 100%;
  position: relative;
  background: white;
  color: var(--secondary);
  font-size: 1.6em;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

a {
  color: var(--primary);
}

strong {
  font-weight: 600;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-bottom: 0.5em;
}

pre {
  background: var(--lightGrey);
  line-height: 1.45;
  font-size: 85%;
  border-radius: 3px;
  padding: 16px;
}

code {
  font-size: 85%;
  padding: 0.15em 0;
  background: var(--lightGrey);
  border-radius: 3px;
}
code:before,
code:after {
  letter-spacing: -0.2em;
  content: '\00a0';
}
pre code {
  font-size: inherit;
}
pre code:before,
pre code:after {
  display: none;
}
blockquote {
  margin-left: 0;
  padding-left: 1em;
  line-height: 1.1;
  font-size: 1em;
  font-style: italic;
  border-left: 2px solid var(--primary);
}

/* Utility Classes */
.light {
  background-color: var(--lightGrey);
}
.white {
  background-color: white;
}
.dark {
  background-color: var(--primary);
  color: white;
}
.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6 {
  color: var(--white);
}

.relative {
  position: relative;
}
.absolute {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.taCenter {
  text-align: center;
}
.taLeft {
  text-align: left;
}
.taRight {
  text-align: right;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}

/* Layout */

.section {
  width: 100%;
  padding: 3rem 0 2rem;
  border-bottom: 1px solid #f1f1f1;
}
.section:last-child {
  border: 0;
}
.section.thick {
  padding: 10rem 0;
}
.section.thin {
  padding: 3.5rem 0;
}
.section.noPadding {
  padding: 0;
}

.section.background-colour {
    background-color: var(--primary-60);	
}

@media (max-width: 600px) {
  .section {
    width: 100%;
    padding: 5rem 0;
  }
  .section.thick {
    padding: 7rem 0;
  }
  .section.thin {
    padding: 1.5rem 0;
  }
}

.container {
  max-width: 1111px;
  width: 90%;
  margin: 0 auto;
}
.container.skinny {
  max-width: 1000px;
}
.container.skinnier {
  max-width: 888px;
}

/* Buttons */

.Button {
  background: var(--primary);
  color: var(--white);
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 0.05em;
  font-size: 1.4rem;
  display: inline-block;
  padding: 1.25rem 3rem;
  border: none;
  transition: all 0.2s ease;
  cursor: pointer;
  border-radius: var(--borderRadius);
}
.Button:hover,
.Button:focus {
  opacity: 0.95;
  outline: none;
}
.Button[disabled] {
  opacity: 0.4;
  pointer-events: none;
  cursor: progress;
}
.Button-blank {
  appearance: none;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Section--Image img {
  /*width: 200px;*/
  max-width: 20em;  
  padding-top:3rem;
}

.Section--Image.center {
  text-align: center;
 }

.Section--Image.left {
  float: left;    
  margin: 0 15px 0 0;
 }
.Section--Image.right {
 float: right;    
 margin: 0 0 0 15px;
}

/* Triptych*/

.wp-block-columns:not(.alignwide):not(.alignfull) {
	clear: both;
}

.wp-block-columns .wp-block-column > * {
	margin-top: calc(0.66 * var(--global--spacing-vertical));
	margin-bottom: calc(0.66 * var(--global--spacing-vertical));
}
@media only screen and (min-width: 482px) {

	.wp-block-columns .wp-block-column > * {
		margin-top: var(--global--spacing-vertical);
		margin-bottom: var(--global--spacing-vertical);
	}
}

.wp-block-columns .wp-block-column > *:first-child {
	margin-top: 0;
}

.wp-block-columns .wp-block-column > *:last-child {
	margin-bottom: 0;
}

.wp-block-columns .wp-block-column:last-child {
	margin-bottom: 0;
}

.wp-block-columns .wp-block-column:not(:last-child) {
	margin-bottom: calc(0.66 * var(--global--spacing-vertical));
}
@media only screen and (min-width: 482px) {

	.wp-block-columns .wp-block-column:not(:last-child) {
		margin-bottom: var(--global--spacing-vertical);
	}
}
@media only screen and (min-width: 822px) {

	.wp-block-columns .wp-block-column:not(:last-child) {
		margin-bottom: 0;
	}
}

.services_triptych {
	margin-top: clamp(calc(1em + 30px), calc(1em + 2vw), calc(1em + 30px));
}
.tri-cycle,
.tri-fundraise,
.tri-years {
	position:relative;
	padding-bottom:3em;
	padding-right:1em;
	padding-left:1em;
}
.tri-cycle, 
.tri-fundraise {
	background-color: var(--primary-shade-one);
	color: var(--white);

}
.tri-years {
	background-color: var(--primary-shade-two);	
	color: var(--white);
}

.tri-cycle figure, 
.tri-fundraise figure, 
.tri-years figure {
	border-radius:50%;
	border-width:8px;
	border-style:solid;
	background-color: var(--white);
	position:absolute;
	top:0;
	left:50%;
	transform:translate(-50%, -50%);
	width:10vw;
	height:10vw;
	max-height:124px;
	max-width:124px;
	min-width:100px;
	min-height:100px;
	display:block !important;
}
.tri-cycle figure, 
.tri-fundraise figure {
	border-color: var(--primary-shade-one);
}
.tri-years figure {
	border-color: var(--primary-shade-two);	
}
.tri-cycle figure img, 
.tri-fundraise figure img, 
.tri-years figure img {
	border-radius: 0 !important;
	transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
	left: 50%;
}
.tri-cycle h3, 
.tri-fundraise h3, 
.tri-years h3 {
	color: var(--white);
	margin-top:56px !important;
	margin-top:clamp(50px, 5vw, 62px) !important;
}
@media (min-width: 782px) {
  .wp-block-columns {
    flex-wrap: nowrap;
  }
}

@media (min-width: 782px) {
  .wp-block-column {
    flex-basis: 0;
    flex-grow: 1;
  }
}
@media (min-width: 600px) and (max-width: 781px) {
  .wp-block-column:not(:only-child) {
    flex-basis: calc(50% - 1em)!important;
    flex-grow: 0;
 }
}
@media (max-width: 599px) {
  .wp-block-column {
    flex-basis: 100%!important;
  }
}
.wp-block-column:not(:first-child) {
  margin-left: 2em;
}
@media only screen and (max-width: 699px) {
.wp-block-column:not(:first-child) {
  margin-left: 0;
}
}
.wp-block-columns {
    display: flex;
    margin-bottom: 1.75em;
    box-sizing: border-box;
    flex-wrap: wrap;
}